@font-face {
  font-family: SourceSansPro-Regular;
  src: url(/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(/fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: SourceSansPro-Black;
  src: url(/fonts/SourceSansPro-Black.otf);
}


body{
  font-family: SourceSansPro-Regular, sans-serif;
  background-color: none;
  font-size: 18px;
}

h1 {
  font-family: SourceSansPro-Black;
  font-size: 40px;
}


.text-muted {
  color: #999;
}
.label-default {
  background-color: #eee;
  color: inherit;
}


.padding {
  height: 18px;
}

.content {
  padding-top: 60px;
}

#face-div {
  padding-top: 40px;
  padding-bottom: 18px;
}
#face-div img{
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 60%;
}

#social-icons {
  font-size: 24px;
}

ul {
  margin: 0;
  padding-left: 18px;
  padding-bottom: 18px;
  font-size: 90%
}
ul {
  list-style-type: none;
}
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "- ";
  text-indent: -5px;
}

a {
  color:#1f7a1f;
}
a:hover {
  color:#85e085;
  text-decoration: none;
}

@media only screen and (max-width : 767px) {
  #face-div {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #face-div img{
    height: 120px;
    width: 120px;
  }
  .content {
    padding-top: 0px;
  }
  h1 {
    font-size: 36px;
  }

}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #001a00;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}









